*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
}

ul {
 list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav {
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: blue;
}

 a{
    color:white;
    padding: 10px;
}

.selection {
    align-items: center;
}
.header-container{
    height: 500px;
    background-color: #B4D0E7;
    padding-top: 100px;

}
.text-intro{
    max-width: 1170px;
    margin: auto;
}

.text-intro{
    background-color: pink;
    height: 200px;
    width: 40%;
}
.img{
    background-color: violet;
    width: 40%;
}

h1{
    background-color:olive;
    text-align: center;
}

main{
    padding-top: 500px;
    max-width: 1170px;
    margin: auto;
}
h2{
    text-align: center;
}
.billing{
    text-align:center;
    padding-bottom: 50px;

}
span{
    background-color: red;
}
.card{
    display: inline-block;
    width: 33%;
    height: 300px;
    background-color: orange;
    flex-direction: column;
}

.container-card{
    display: inline-block;
    background-color: blueviolet;
    width: 33%;
    height: 300px;
    flex-direction: column;
    
}
.container-card3{
    display: inline-block;
    background-color: lightcoral;
    width: 33%;
    height: 300px;
    flex-direction: column;
}

.container-plan2{
    height: 400px;
    background-color: aqua;
}
.container-plan3{
    height: 500px;
    background-color:orangered;
    
}
.PrimaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;

}
.SecondaCard{
    display: inline-block;
    width: 30%;
    height: 200px;
    background-color: yellow;

}
.TerzaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.QuartaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.QuintaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.SestaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.container-client{
    background-color: chocolate;
    height: 100px;
}
.client-link{
    text-align: center;
}
.container-sponsor{
    background-color: blue;
    height: 200px;
}
.sponsor-tag{
    padding: 50px;
    margin-right: 50px;
}
#col1{
    width: 50px;
    height:50px;
    background-color: darkcyan;
    
}
#col2{
    width: 50px;
    height:50px;
    background-color: darkcyan;
}
#col3{
   
    width: 50px;
    height:50px;
    background-color: darkcyan;
}
#col4{
    width: 50px;
    height:50px;
    background-color: darkcyan;
}
#col5{
    width: 50px;
    height:50px;
    background-color: darkcyan;
}
#col6{
    width: 50px;
    height:50px;
    background-color: darkcyan;
}
#col7{
    width: 50px;
    height:50px;
    background-color: darkcyan;
}
#col8{
    width: 50px;
    height:50px;
    background-color: darkcyan;
}
.container-plan4{
    background-color: brown;
    height: 100px;
}
.container-plan5{
    background-color: cyan;
    height: 100px;
}
footer{
    background-color: black;
    width: 100%;
    height: 300px;
    padding: 50px;
}
.footer-list{
    background-color: red;
    color: darkorange;
    max-width: 1170px;
    margin: auto;
}