*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: open sans, sans-serif;
}

header {
    background-color: #b4d0e7;
    width: 100%;
    
}

ul {
 list-style: none;
 
}

.flex {
    display: flex;
    
}

.menu-nav {
    padding: 20px 10px 20px 10px;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
}
header li {
    padding: 10px 20px;
}
a {
    text-decoration: none;
    color: black;
}
.btn{
    background-color: #0061FF;
    padding: 5px 8px;
    margin-right: 8px;
    color: white;
}

.selection {
    align-items: center;
}

.header-container{
    max-width: 1170px;
    margin: auto;
    position: relative;
    height: 780px;
}

.text {
    padding-bottom: 30px;
    
}
.textsize {
    font-size: 15px;
}
.text-line {
    padding-top: 30px;
}
.img-top {
    width: 700px;
    margin-bottom: -80px;
    height: 500px;

}
.freccia {
    font-size: 50px;
    color: black;
    position: absolute;
    bottom: 150px;
}

h1 {
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 60px;
}


h2{
    font-size: 40px
}
.container-plan {
    max-width: 60%;
    margin: auto;
    padding-top: 80px;
    
}
.fatturazione {
    margin-right: 30px;
    margin-left: 20px;
}
.circle{
    border: solid 6px #0061FF;
    border-radius: 50%;
    text-decoration: none;
    list-style: none;
}

.billing {
    padding-top: 30px;
    font-size: 13px;
    
}
.card{
    display: inline-block;
    width: 33%;
    height: 300px;
    background-color: orange;
    flex-direction: column;
}

.container-card{
    display: inline-block;
    background-color: blueviolet;
    width: 33%;
    height: 300px;
    flex-direction: column;
    
}
.container-card3{
    display: inline-block;
    background-color: lightcoral;
    width: 33%;
    height: 300px;
    flex-direction: column;
}

.container-plan2{
    height: 400px;
    background-color: aqua;
}
.container-plan3{
    height: 500px;
    background-color:orangered;
    
}
.PrimaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;

}
.SecondaCard{
    display: inline-block;
    width: 30%;
    height: 200px;
    background-color: yellow;

}
.TerzaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.QuartaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.QuintaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.SestaCard{
    display: inline-block;
    width:30%;
    height: 200px;
    background-color: yellow;
}
.container-client{
    background-color: chocolate;
    height: 100px;
}
.client-link{
    text-align: center;
}
.container-sponsor{
    background-color: blue;
    height: 200px;
    width: 100%;
}
.sponsor-tag{
    padding: 50px;
    margin-right: 50px;
}
#col1{
    width: 200px;
    height:200px;
    background-color: darkcyan;
    
}
#col2{
    width: 200px;
    height:200px;
    background-color: darkcyan;
}
#col3{
   
    width: 200px;
    height:200px;
    background-color: darkcyan;
}
#col4{
    width: 200px;
    height:200px;
    background-color: darkcyan;
}
#col5{
    width: 200px;
    height:200px;
    background-color: darkcyan;
}
#col6{
    width: 200px;
    height:200px;
    background-color: darkcyan;
}
#col7{
    width: 200px;
    height:200px;
    background-color: darkcyan;
}
#col8{
    width: 200px;
    height:200px;
    background-color: darkcyan;
}
.container-plan4{
    background-color: brown;
    height: 100px;
}
.container-plan5{
    background-color: cyan;
    height: 100px;
}
footer{
    background-color: black;
    width: 100%;
    height: 300px;
    padding: 50px;
}
.footer-list{
    background-color: red;
    color: darkorange;
    max-width: 1170px;
    margin: auto;
}